.assistant-container
  z-index 1

.trigger-button
  border-radius 20px
  padding 4px 12px
  border 1px solid var(--borderMainColor)
  background-color var(--paperBackgroundColor)
  text-transform none
  min-width 0

.assistant-icon
  width 24px
  height 24px
  border-radius 50%
  margin-right 8px
  object-fit cover
  fill transparent !important

  &--small
    width 12px
    height 12px
    margin-right 0

  &--composer
    width 16px
    height 16px
    margin 0

.menu-item
  display flex !important
  align-items center !important
  justify-content space-between !important

  &.create-item
    border-top 1px solid var(--dividerColor)

  &:hover
    .menu-item-icon-button
      display inline-flex !important

.menu-item-actions
  display flex
  align-items center
  min-width 64px
  justify-content flex-end

.menu-item-icon-button
  display none !important

.chip
  border 0 !important
  background-color transparent !important

.selected-item--mobile
  padding 1px
  border-radius 100%
  color var(--white)
  background-color var(--malachite)

.sidebar-item
  min-height 36px !important
  padding-top 5px !important
  padding-bottom 5px !important
  border-radius 8px !important
  gap 12px !important

.sidebar-item-icon
  min-width 0 !important
  color var(--iconTextColor)
