.source-button
  width 32px
  height 32px
  padding 0 !important
  border-radius 100px

.source-button-image
  width 20px
  height 20px

  &--inactive
    opacity 0.6

.source-chip
  height 32px !important
  border-radius 100px !important
  padding 0 12px !important

.source-chip-icon
  width 16px
  height 16px
  margin 0 !important

.source-chip-label
  padding 0 0 0 4px !important
  font-size 12px
  font-weight 500
  line-height 16px
  letter-spacing 0.5px
